# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp files
*~
*.swp
*.swo

# files
list_forces.h
list_functions.h
list_tables.h
list_neighbors.h
version.h
potfit
